body {
  font-family: 'Roboto', sans-serif;
  /* padding-top: 65px; */
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
}

.logo__web--black {
  color: #000;
}

.page-header__nav {
  min-height: 60px;
}

.menu {
  font-size: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  color: #2196f3;
}

.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-size: 16px;
  color: #000;
  display: inline-block;
  padding: 5px 0px;
}

.menu__link:hover {
  color: #2196f3;
}

.sub-menu {
  background-color: #333;
  padding: 15px;
  position: absolute;
  min-width: 200px;
  top: 150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.sub-menu__item {
  color: #fff;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.sub-menu__link {
  font-size: 16px;
}

.sub-menu__link:hover {
  color: #2196f3;
}

.unique-text {
  font-weight: 500;
  font-size: 20px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
  outline: 2px solid #2196f3;
}

.main-title {
  font-weight: 900;
  font-size: 38px;
  color: tomato;
  margin-bottom: 20px;
  outline: none;
}

/* section examples*/

.examples {
  background-color: #333;
  padding: 45px;
  margin-bottom: 50px;
}

.examples__container {
  width: 320px;

  padding: 0;
}

/* Translate */

.examples__items {
  margin-bottom: 75px;
  background-color: #666;
  outline: 2px solid #2196f3;
}

[class*='__body'] {
  width: 320px;
  height: 320px;
  background-color: #b0f312;
  opacity: 0.7;
  outline: 2px solid #2196f3;
}

.translate__body {
  transform: translate(-25px, 25px);
}

.translate__body:hover {
  transform: translate(0);
}

/* Scale */

.scale__body {
  transform: scale(0.3);
}

.scale__body:hover {
  transform: scale(1);
}

/* rotate */

.rotate__body {
  transform: rotate(10deg);
}

.rotate__body:hover {
  transform: rotate(0);
}

/* skew */

.skew__body {
  transform: skew(-10deg, 0);
}

.skew__body:hover {
  transform: skew(0);
}

/* matrix */

.matrix__body {
  transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
}

.matrix__body:hover {
  transform: matrix(0, 1, 1, 0, 0, 0);
}

/*  multiple-2d  */

.multiple-2d__body {
  transform: translate(30px, 30px) rotate(45deg) scale(0.8);
}

.multiple-2d__body:hover {
  transform: translate(0, 0) rotate(0) scale(1, 1);
}

/* transform-origin__body */

.transform-origin__body {
  transform-origin: 0 0;
  transform: rotate(15deg);
}

.transform-origin__body:hover {
  transform-origin: 100% 0;
  transform: rotate(-15deg);
}

/* Perspective */

.perspective {
  perspective: 600px;
  perspective-origin: 50px 50px;
}

.perspective__body {
  transform: rotateX(50deg);
}

.perspective:hover .perspective__body {
  transform: rotateX(0);
}

/* transform-style */

.transform-style {
  perspective: 300px;
  transform-style: preserve-3d;
}

.transform-style__body {
  transform: rotateY(-30deg);
}

.transform-style:hover .transform-style__body {
  transform: rotateY(30deg);
}

/* Backface-visibility */

.backface-visibility__body p {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 35%;
}

.backface-visibility {
  perspective: 400px;
  /* transform-style: preserve-3d; */
}

.backface-visibility__body {
  transition: all 0.6s ease 0s;
}

.backface-visibility:hover .backface-visibility__body {
  backface-visibility: visible;
  transform: rotateY(180deg);
}

/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
